# Dependencies
node_modules/
.pnpm-store/
package-lock.json
pnpm-lock.yaml
yarn.lock

# VitePress specific
.vitepress/dist
.vitepress/cache

# Temporary / Build files
dist/
.temp/
.cache/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.*.local

# Editor / OS files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
